{% extends "base.html" %}
{% block content %}

<h1 id="title-h1">amphibian</h1>
<br>
<div class="container">
    <div class="row">
        <p>Welcome to amphibian.ch. If you are looking for original beats or sounds - you are at the right place</p>
    </div>
</div>
<div class="container">
      <div class="row">
          {% for product in products %}
          {% if not product.is_soundkit %}
          <div class="col-lg-3 text-center">
              <img src="{{product.image.url}}" alt="beat-cover" class="img-fluid img-cover">
              <a href="{{ product.get_absolute_url }}" >
                  <h3 id="title-link">{{ product.title }}</h3>
              </a>
          </div>
          {% endif %}
          {% endfor %}
      </div>
    <br>
    <div class="row">
        <div class="mx-auto">
            <a href="{% url 'cart:product-list' %}">
                <button class="btn btn-block btn-lg amphibian-button-primary discover-more">
                    discover more
                </button>
            </a>
        </div>
    </div>
</div>

{% endblock %}