{% extends "base.html" %}
{% block content %}

<h1>amphibian</h1>
<div class="container">
      <div class="row">
          {% for product in products %}
          <div class="col-lg-3 text-center">
              <img src="{{product.image.url}}" alt="beat-cover" class="img-fluid img-cover">
              <a href="#" >
                  <h3 id="title-link">{{ product.title }}</h3>
              </a>
          </div>
           {% endfor %}
      </div>
    <br>
    <div class="row">
        <div class="mx-auto">
            <a href="{% url 'cart:product-list' %}">
                <button id="discover-more-button">
                    <h2 id="discover-more">discover more</h2>
                </button>
            </a>
        </div>
    </div>
</div>

{% endblock %}