{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'cart:product-list' %}">Beats</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="current-page">{{ product.title }}</strong>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
      <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                        <img src="{{ product.image.url }}" alt="beat-cover" class="img-fluid">
                  </div>
                  <div class="col-md-6">
                        <h2 class="title-link">{{ product.title }}</h2>
                        <div class="mx-auto">
                            <h4>Uploaded on {{ product.created }}</h4>
                            <h4>{{ product.description }}</h4>
                        </div>
                      <form method="POST">
                          {% csrf_token %}
                          {{ form|crispy }}
                          <br>
                          <button type="submit" class="btn btn-block btn-lg amphibian-button-primary">
                              Add to cart
                          </button>
                          <br>
                      </form>
                  </div>

            </div>
      </div>
</div>
{% endblock content %}