{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'home' %}">Home</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="current-page">Beats </strong>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form method="get">
                {{ filter.form|crispy }}
                <button class="btn btn-sm amphibian-button-primary btn-block element-shadow img-audio">Submit</button>
            </form>
        </div>

    </div>
    <br>
    <div class="row">
        {% for product in filter.qs %}
        {% if not product.is_soundkit %}
        <div class="col-sm-6 text-center" data-aos="fade-up">
            <a href="#">
                <img src="{{ product.image.url }}" alt="beat-cover" class="img-fluid img-cover element-shadow">
            </a>
            <a href="{{ product.get_absolute_url }}">
                <h2 class="">{{ product.title }}</h2>
            </a>
        </div>
        <br>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}