{% extends "base.html" %}

{% block head_title %}
Soundkit list - amphibian.ch
{% endblock %}

{% block extra_head %}
<meta name="description" property="og:description" content="Find our soundkits and select the one you like to purchase">

{% endblock extra_head %}

{% block content %}

<div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'home' %}">Home</a>
                <span class="mx-2 mb-0 span-divider">/</span>
                <strong class="current-page">Soundkits</strong>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
      <div class="row">
          {% for product in object_list %}
            {% if product.is_soundkit %}
            <div class="col-sm-6 text-center" data-aos="fade-up">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{{ product.image.url }}" alt="beat-cover" class="img-fluid img-cover element-shadow">
                </a>
                <a href="{{ product.get_absolute_url }}">
                    <h3 class="">{{ product.title }}</h3>

                </a>
            </div>
          {% endif %}
          {% endfor %}
      </div>
</div>
{% endblock content %}