{% extends 'base.html' %}

{% block head_title %}
thanks - amphibian.ch
{% endblock %}

{% block extra_head %}
<meta name="description" property="og:description" content="Thank you for shopping at amphibian.ch">
{% endblock extra_head %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Thank you for shopping at amphibian</h2>
            <br>
            <p class="info-text">Your files are now available at your <a href="{% url 'profile' %}" class="highlighted-anchor">profile page.</a>  If they do not show up, please contact us.</p>
            <p class="info-text">We hope to welcome you back soon on amphibian.ch</p>
        </div>
    </div>
</div>

{% endblock content %}