:root {
  --black: #0c0d0c;
  --light-black: #252625;
  --light-green: #6fdfb6;
  --light-gray: #cdcdcd;
  --medium-gray: #b4b4b4;
  --normal-gray: #818181;
  --dark-gray: #676767;
  --orange: #FF6565;
}

* {
    margin: 0;
}

.main {
    margin: 0px;
}

body, wrapper {
   min-height:100vh;
}

.flex-fill {
   flex:1 1 auto;
}


html, body {
  font-family: Poppins;
  background-color: var(--black) !important;
  height: 100%;
  width: 100%;

}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 99px;
  -webkit-text-stroke: 0.1px white;
  text-align: center;
}

h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: normal;
  color: white;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: white;
}

h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--medium-gray);
}

a {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: normal;
  color: var(--white);
}

p {
 color: white;
}

th {
    font-size: 14px;
    color: white;
}

.icon-item {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#discover-more-button {
    background-color: Transparent;
    border: 1px solid var(--light-green);
    box-sizing: border-box;
    min-width: 320px;
    min-height: 48px;
    margin-bottom: 24px;
}

#discover-more-button:hover {
    background-color: var(--orange);
    border: 1px solid var(--orange);
}

#discover-more-button:hover #discover-more{
    color: white;
}


#discover-more {
    color: var(--light-green);
    margin-bottom: 0px;
}

#full-licence-button {
    background: var(--orange);
    border: 1px solid var(--orange);
    box-sizing: border-box;
    width: 225px;
    height: 48px;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 0px 4px 0px 4px;
}

a:hover {
    color: var(--orange);
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: var(--orange);
}

.footer {
    background-color: var(--light-black);
}

#footer a{
    text-decoration: none;
}

#footer-title {
    color: var(--orange);
}

#copyright {
    color: var(--dark-gray);
}

#title-link {
 text-align: center;
}

.current-page {
    font-size: 12px;
    color: white;
    opacity: 0.5;
}