{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2>about</h2>
</div>

<div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'home' %}">home</a>
                <span class="mx-2 mb-0 span-divider">/</span>
                <strong class="current-page">about</strong>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7 text-center">
            <h2>origins</h2>
            <p>Amphibian.ch was founded in 2020 by three friends in Switzerland. We have been making music together for
                several years. Together we are a well-rehearsed team, in which each of us can play out his qualities.
            </p>
            <br>
            <p>
                For us amphibian.ch is a platform to express our love for music. We also welcome artists and other music
                producers in our studio to express our love for music.
            </p>

        </div>
    </div>
</div>
<br>
{% endblock %}