{% load static %}
{% load cart_template_tags %}
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" type='text/css' href="{% static 'style.css'%}" />
    <title>{% block head_title %}{% endblock %}</title>
    <meta name="keywords" content="hip-hop, buy beats, trap, R'n'B, buy music online, download beats, rap beats, tracks, amphibian, music">
    {% block extra_head %}
    {% endblock %}
</head>

<body>
<wrapper class="d-flex flex-column">
    <nav class="navbar navbar-expand navbar-dark">
          <div class="navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                  {% if user.is_authenticated and not user.is_staff %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'home' %}"
                      >home</a>
                  </li>
                  <li class="nav-item text-center">
                      <a class="nav-link" href="{% url 'cart:product-list' %}">beats</a>
                  </li>
                  <li class="nav-item text-center">
                      <a class="nav-link" href="{% url 'cart:soundkit-list' %}">soundkits</a>
                  </li>
                  <li class="nav-item text-center">
                      <a class="nav-link" href="{% url 'profile' %}">profile</a>
                  </li>
                  <li class="nav-item cart-navbar align-items-center">
                      <a href="{% url 'cart:summary'%}" class="cart-field-navbar">
                          <span class="material-icons shopping-cart-item">
                              shopping_cart
                          </span>
                          <span class="cart-item-count">{{ request|cart_item_count }}</span>
                      </a>
                  </li>
                  {% elif request.user.is_staff %}

                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'home' %}"
                          >home</a>
                  </li>
                  <li class="nav-item text-center">
                      <a class="nav-link" href="{% url 'cart:product-list' %}">beats</a>
                  </li>
                  <li class="nav-item text-center">
                      <a class="nav-link" href="{% url 'cart:soundkit-list' %}">soundkits</a>
                  </li>
                  <li class="nav-item text-center">
                      <a href="{% url 'staff:staff' %}" class="nav-link header-link">staff</a>
                  </li>

                  {% else %}

                  <li class="nav-item" id="header-link">
                      <a class="nav-link" href="{% url 'home' %}"
                          >home</a>
                  </li>
                  <li class="nav-item text-center">
                      <a class="nav-link " href="{% url 'cart:product-list' %}">beats</a>
                  </li>
                  <li class="nav-item text-center">
                      <a class="nav-link" href="{% url 'cart:soundkit-list' %}">soundkits</a>
                  </li>
                  <li class="nav-item text-center">
                      <a class="nav-link" href="{% url 'account_login' %}">login</a>
                  </li>
                  <li>
                      <i class="fas fa-shopping-cart" id="my-cart"></i>
                  </li>
                  {% endif %}
              </ul>
          </div>
    </nav>
    <main class="flex-fill">
        {% block content %}
        {% endblock %}
    </main>
    <div class="footer">
        <footer class="page-footer">
          <div class="container text-center text-md">
              <div class="row">
                  <div class="col-md-12 mx-auto">
                      <h5 class="font-weight-bold mt-3 mb-4" id="footer-title">amphibian.ch</h5>
                      <ul class="list-unstyled">
                          <li>
                              <a href="{% url 'about' %}" class="footer-a">about</a>
                          </li>
                          <li>
                              <a href="{% url 'contact' %}" class="footer-a">contact</a>
                           </li>
                          <li>
                              <a href="{% url 'licence' %}" class="footer-a">licences</a>
                          </li>
                          <li>
                              <a href="{% url 'terms-and-condition' %}" class="footer-a">terms and conditions</a>
                          </li>
                          <li>
                              <a href="{% url 'cookie-policy' %}" class="footer-a">cookie policy</a>
                          </li>
                          <li>
                              <a href="{% url 'privacy-policy' %}" class="footer-a">privacy policy</a>
                          </li>
                          <li>
                              <a href="{% url 'impressum' %}" class="footer-a">impressum</a>
                          </li>
                      </ul>
                  </div>
                  <hr class="clearfix w-100 d-md-none">
              </div>
          </div>
          <div class="footer-copyright text-center py-3">
              <h4 id="copyright">© 2020 fabian haefliger, version 1.1</h4>
          </div>
      </footer>
    </div>
</wrapper>

{% include 'scripts.html' %}
{% block scripts %}
{% endblock scripts %}
</body>
</html>