{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
contact - amphibian.ch
{% endblock %}

{% block extra_head %}
<meta name="description" property="og:description" content="Get in contact with amphibian.ch">
{% endblock extra_head %}

{% block content %}

<div class="container">
    <h2>contact</h2>
</div>

<div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'home' %}">Home</a>
                <span class="mx-2 mb-0 span-divider">/</span>
                <strong class="current-page">Contact</strong>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <h2>Get in touch</h2>
        </div>
        <div class="col-md-7">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-lg btn-block amphibian-button-primary">
            </form>
        </div>

    </div>
    <br>
</div>


{% endblock %}