{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2>cookie policy</h2>
</div>

<div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'home' %}">Home</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="current-page">cookie-policy</strong>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12 text-center">
            <h3>Cookie Policy in englisch</h3>
        <p>
            This website uses cookies. Cookies are small text files that are stored in your computer when you visit this website.
            computer permanently or temporarily. The purpose of cookies is in particular the analysis of the
            Use of this website for statistical analysis and continuous improvement.
            You can deactivate cookies in your browser settings at any time, either in part or in full.
            If cookies are deactivated, you may no longer have access to all the functions of this website

        </p>

        <h3>Cookie Policy in german</h3>
        <p>
            Diese Website verwendet Cookies. Cookies sind kleine Textdateien, die beim Besuch dieser Website in Ihrem
            Computer dauerhaft oder temporär gespeichert werden. Zweck der Cookies ist insbesondere die Analyse der
            Nutzung dieser Website zur statistischen Auswertung sowie für kontinuierliche Verbesserungen.
            In Ihrem Browser können Sie Cookies in den Einstellungen jederzeit ganz oder teilweise deaktivieren.
            Bei deaktivierten Cookies stehen Ihnen allenfalls nicht mehr alle Funktionen dieser Website zur Verfügung
        </p>

    </div>
</div>
<br>
{% endblock %}