<footer class="page-footer flex-fill" id="footer">
  <div class="container text-center text-md">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <h5 class="font-weight-bold mt-3 mb-4" id="footer-title">amphibian.ch</h5>
        <ul class="list-unstyled">
          <li>
              <a href="#">about</a>
          </li>
          <li>
              <a href="{% url 'contact' %}">contact</a>
          </li>
          <li>
            <a href="#">licences</a>
          </li>
          <li>
            <a href="#">terms and conditions</a>
          </li>
          <li>
            <a href="#">cookie policy</a>
          </li>
          <li>
            <a href="#">privacy policy</a>
          </li>
          <li>
            <a href="#">impressum</a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    <h4 id="copyright">© 2020 fabian haefliger, version 1.1</h4>
  </div>
</footer>
