{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2>impressum</h2>
</div>

<div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'home' %}">home</a>
                <span class="mx-2 mb-0 span-divider">/</span>
                <strong class="current-page">impressum</strong>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12 text-center">
        <p class="info-title">
            <strong>
                Kontakt-Adresse
            </strong>
        </p>

        <p class="info-text">
            amphibian.ch
            <br/>
            Fabian H&auml;fliger
            <br/>
            Talacherstrasse 7
            <br/>
        6340 Baar
            <br/>
            Schweiz
        </p>

        <p class="info-title">
            <strong>E-Mail:</strong>
        </p>

        <p class="info-text">
            fabian.haefi@gmail.com
        </p>


        <p class="info-title">
                <strong>Vertretungsberechtigte Person(en)</strong>
        </p>

        <p class="info-text">
            Fabian H&auml;fliger, Inhaber
        </p>

        <p class="info-title">
                <strong>Haftungsausschluss</strong>
        </p>
        <p class="info-text">
            Der Autor &uuml;bernimmt keinerlei Gew&auml;hr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit,
                Aktualit&auml;t, Zuverl&auml;ssigkeit und Vollst&auml;ndigkeit der Informationen.
        </p>

        <p class="info-text">Haftungsanspr&uuml;che
        gegen den Autor wegen Sch&auml;den materieller oder immaterieller Art, welche aus dem Zugriff oder der Nutzung
        bzw. Nichtnutzung der ver&ouml;ffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische
        St&ouml;rungen entstanden sind, werden ausgeschlossen.
        </p>

        <p class="info-text">
            Alle Angebote sind unverbindlich. Der Autor
        beh&auml;lt es sich ausdr&uuml;cklich vor, Teile der Seiten oder das gesamte Angebot ohne besondere
        Ank&uuml;ndigung zu ver&auml;ndern, zu erg&auml;nzen, zu l&ouml;schen oder die Ver&ouml;ffentlichung zeitweise
        oder endg&uuml;ltig einzustellen.
        </p>

        <p class="info-title">
            <strong>Haftungsausschluss f&uuml;r Links</strong>
        </p>
        <p class="info-text">Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs.
            Es wird jegliche Verantwortung f&uuml;r solche Webseiten abgelehnt. Der Zugriff und die Nutzung solcher
            Webseiten erfolgen auf eigene Gefahr des jeweiligen Nutzers.
        </p>
        <p>
            <strong>
                Urheberrechte
            </strong>
        </p>

        <p class="info-text">
            Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf dieser Website,
        geh&ouml;ren ausschliesslich
            <strong>
                Fabian H&auml;fliger
            </strong>
            oder den speziell genannten Rechteinhabern. F&uuml;r die Reproduktion jeglicher Elemente ist die
            schriftliche Zustimmung des Urheberrechtstr&auml;gers im Voraus einzuholen.
        </p>
        <br/>
        <p class="info-text">
            Quelle: <a href="https://www.swissanwalt.ch" target="_blank" rel="noopener">SwissAnwalt</a>
        </p>
    </div>
</div>
<br>
{% endblock %}