{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>licences</h2>
</div>

<div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'home' %}">home</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="current-page">licences</strong>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-group">
                <div class="card text-center bootstrap-overrides-card">
                    <div class="card-body">
                        <h5 class="card-title">MP3-Lease</h5>
                        <ul class="list-group">
                            <li class="list-group-item bootstrap-override-list-group-item">Cras justo odio</li>
                            <li class="list-group-item bootstrap-override-list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item bootstrap-override-list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
                <div class="card text-center bootstrap-overrides-card">
                    <div class="card-body">
                        <h5 class="card-title">WAV-Lease</h5>
                        <p class="card-body">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card text-center bootstrap-overrides-card" >
                    <div class="card-body">
                        <h5 class="card-title">Tracked-Out Lease</h5>
                        <p class="card-body">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card text-center bootstrap-overrides-card">
                    <div class="card-body">
                        <h5 class="card-title">Unlimited Lease</h5>
                        <p class="card-body">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card text-center bootstrap-overrides-card">
                    <div class="card-body">
                        <h5 class="card-title">Exclusive</h5>
                        <p class="card-body">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{% url 'contact' %}" class="btn btn-danger btn-block">get in contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}