{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>licences</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 mb-0">
            <a href="{% url 'home' %}">home</a>
            <span class="mx-2 mb-0">/</span>
            <strong class="current-page">licences</strong>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <p class="info-text">Below are the licences that we are offering. If you have any question regarding our licences, feel free to <a href="{% url 'contact' %}">contact</a> us</p>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-group">
                <div class="card text-center bootstrap-overrides-card">
                    <div class="card-body">
                        <h5 class="card-title bootstrap-override-cart-title">MP3-Lease</h5>
                        <ul class="list-group">
                            <li class="list-group-item bootstrap-override-list-group-item">MP3 Version</li>
                            <li class="list-group-item bootstrap-override-list-group-item">Royalty Free</li>
                            <li class="list-group-item bootstrap-override-list-group-item">amphibian.ch retains full rights</li>
                        </ul>
                    </div>
                </div>
                <div class="card text-center bootstrap-overrides-card">
                    <div class="card-body">
                        <h5 class="card-title bootstrap-override-cart-title">WAV-Lease</h5>
                        <ul class="list-group">
                            <li class="list-group-item bootstrap-override-list-group-item">WAV Version</li>
                            <li class="list-group-item bootstrap-override-list-group-item">Royalty Free</li>
                            <li class="list-group-item bootstrap-override-list-group-item">amphibian.ch retains full rights</li>
                        </ul>
                    </div>
                </div>
                <div class="card text-center bootstrap-overrides-card">
                    <div class="card-body">
                        <h5 class="card-title bootstrap-override-cart-title">Tracked-Out Lease</h5>
                        <ul class="list-group">
                            <li class="list-group-item bootstrap-override-list-group-item">Trackouts</li>
                            <li class="list-group-item bootstrap-override-list-group-item">MP3 + WAV Lease</li>
                            <li class="list-group-item bootstrap-override-list-group-item">Royalty Free</li>
                            <li class="list-group-item bootstrap-override-list-group-item">amphibian.ch retains full rights</li>
                        </ul>
                    </div>
                </div>
                <div class="card text-center bootstrap-overrides-card">
                    <div class="card-body">
                        <h5 class="card-title bootstrap-override-cart-title">Unlimited</h5>
                        <ul class="list-group">
                            <li class="list-group-item bootstrap-override-list-group-item">Trackouts</li>
                            <li class="list-group-item bootstrap-override-list-group-item">MP3 + WAV Lease</li>
                            <li class="list-group-item bootstrap-override-list-group-item">Royalty Free</li>
                            <li class="list-group-item bootstrap-override-list-group-item">amphibian.ch retains full rights</li>
                            <li class="list-group-item bootstrap-override-list-group-item">Unlimited commercial distribution</li>
                        </ul>
                    </div>
                </div>
                <div class="card text-center bootstrap-overrides-card">
                    <div class="card-body bootstrap-override-cart-title">
                        <h5 class="card-title">Exclusive</h5>
                        <p class="card-body">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{% url 'contact' %}" class="btn btn-block amphibian-button-info">get in contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}