{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2>privacy policy</h2>
</div>

<div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'home' %}">home</a>
                <span class="mx-2 mb-0 span-divider">/</span>
                <strong class="current-page">privacy policy</strong>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12 text-center">
        <h3>privacy policy englisch</h3>
        <br>
        <h5 class="info-title">Who we are</h5>
        <p class="info-text">
            This website and its content is provided by a private person.
            The responsible body within the meaning of the data protection laws, in particular the EU basic data
            protection regulation (DSGVO), is:
            <br>
            Fabian Häfliger,
            Talacherstrasse 7,
            6340 Baar
            <br>
            Email: fabian.haefi@gmail.com
        </p>
        <br>
        <h5 class="info-title">What personal data we collect and why we collect it</h5>
        <p class="info-text">
            When you access this website, information of a general nature is automatically collected. This information
            is recorded in the server log file and includes the type of web browser, the operating system used, the
            domain name of your internet service provider, your IP address and similar. This is for the following reason:
        </p>
        <ul class="list-group">
            <li class="list-group-item bootstrap-override-list-group-item text-center">Ensuring a problem-free connection of the website</li>
            <li class="list-group-item bootstrap-override-list-group-item text-center">Ensuring a smooth use of our website</li>
            <li class="list-group-item bootstrap-override-list-group-item text-center">Evaluation of system security and stability and for other administrative purposes</li>
            <li class="list-group-item bootstrap-override-list-group-item text-center">Your data will not be used to
                draw conclusions about your person. Information
                of this kind is only evaluated statistically in order to optimize our Internet presence and the
                technology behind it.</li>
        </ul>
        <br>
        <h5 class="info-title">Storage duration</h5>
        <p class="info-text">
            The data will be deleted as soon as they are no longer required for the purpose of collection. This is
            generally the case for the data used to provide the website, when the respective session has ended.
        </p>
        <br>
        <h5 class="info-title">Contact form</h5>
        <p class="info-text">
            The data you enter will be stored for the purpose of individual communication with you. For this purpose,
            it is necessary to enter a valid e-mail address and your name. This serves to assign the inquiry and to
            answer it afterwards. The specification of further data is optional.
        </p>
        <br>
        <h5 class="info-title">Use of script libraries</h5>
        <p class="info-text">In order to display our content correctly and graphically appealing across browsers, we use
            "Google Web Fonts" from Google LLC (1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; hereinafter
            "Google") to display fonts on this website. The privacy policy of the library operator Google can be found
            here: https://www.google.com/policies/privacy/
        </p>
        <br>
        <h5 class="info-title">
            Use of Google Analytics
        </h5>
        <p class="info-text">
            This website uses Google Analytics, a web analytics service provided by Google LLC, 1600 Amphitheatre
            Parkway, Mountain View, CA 94043 USA (hereafter: "Google"). Google Analytics uses "cookies", which are text
            files placed on your computer, to help the website analyze how users use the site. The information generated
            by the cookie about your use of this website is usually transferred to a Google server in the USA and stored
            there. However, due to the activation of IP anonymisation on these websites, your IP address will be
            shortened by Google within member states of the European Union or in other signatory states of the Agreement
            on the European Economic Area before. Only in exceptional cases will the full IP address be transferred to
            a Google server in the USA and shortened there. On behalf of the operator of this website, Google will use
            this information for the purpose of evaluating your use of the website, compiling reports on website
            activity and providing other services relating to website activity and internet usage. The IP address
            transmitted by your browser within the scope of Google Analytics is not combined with other data from Google.
            The purposes of data processing are to evaluate the use of the website and to compile reports on activities
            on the website. Based on the use of the website and the internet, further associated services are then to
            be provided.
        </p>
        <h5 class="info-title">
            Use of Google Adsense
        </h5>
        <p class="info-text">
            This website uses Google AdSense, a service for the integration of advertisements from Google Inc.
            ("Google"). Google AdSense uses so-called "cookies", text files which are stored on your computer and
            which enable an analysis of the use of the website. Google AdSense also uses so-called web beacons
            (invisible graphics). Through these web beacons, information such as visitor traffic on these pages can be
            evaluated.
            The information generated by cookies and web beacons about the use of this website (including your
            IP address) and delivery of advertising formats are transferred to a Google server in the USA and stored
            there. This information may be passed on by Google to contractual partners of Google. However, Google will
            not merge your IP address with other data stored by you.
        </p>
        <br>
        <h5 class="info-title">
            How long we store your data
        </h5>
        <p class="info-text">
            For users who register on our website, we also store the personal information they provide in their user
            profiles. All users can view, change or delete their personal information at any time (the user name cannot
            be changed). Website administrators can also view and change this information.
        </p>
        <br>
        <h5 class="info-title">
            What rights you have to your data
        </h5>
        <p class="info-text">
            If you have an account on this website, you can request an export of your personal data from us, including
            all data you have provided us with. In addition, you can request the deletion of all personal data that we
            have stored about you. This does not include data that we are required to keep due to administrative, legal
            or security necessities.
        </p>
        <br>
        <h5 class="info-title">Contact Information</h5>
        <p class="info-text">
            Fabian Häfliger,
            Talacherstrasse 7,
            6340 Baar
            <br>
            Email: fabian.haefi@gmail.com
        </p>
        <hr class="horizontal-divider">
        <h3>Datenschutzerklärung Deutsch</h3>
        <h5 class="info-title">Wer sind wir</h5>
        <p class="info-text">
            Diese Website und ihr Inhalt werden von einer Privatperson zur Verfügung gestellt. Verantwortliche Stelle
            im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzbasisverordnung (DSGVO), ist
            <br>
            Fabian Häfliger, Talacherstrasse 7, 6340 Baar
            <br>
            E-Mail: fabian.haefi@gmail.com
        </p>
        <br>
        <h5 class="info-title">Welche personenbezogenen Daten wir sammeln und warum wir sie sammeln</h5>
        <p class="info-text">Wenn Sie auf diese Webseite zugreifen werden automatisch Informationen allgemeiner Natur
            erfasst. Diese Informationen werden im Server-Logfile erfasst und beinhalten die Art des Webbrowsers, das
            verwendete Betriebssystem, den Domainnamen Ihres Internet-Service-Providers, Ihre IP-Adresse und ähnliches.
            Dies aus folgendem Grund:
        </p>
         <ul class="list-group">
            <li class="list-group-item bootstrap-override-list-group-item text-center">Sicherstellung eines problemlosen
                Verbindungsaufbaus der Website</li>
            <li class="list-group-item bootstrap-override-list-group-item text-center">Sicherstellung einer
                reibungslosen Nutzung unserer Website</li>
            <li class="list-group-item bootstrap-override-list-group-item text-center">Auswertung der Systemsicherheit
                und -stabilität sowie zu weiteren administrativen Zwecken</li>
            <li class="list-group-item bootstrap-override-list-group-item text-center">Ihre Daten werden nicht verwendet,
                um Rückschlüsse auf Ihre Person zu ziehen. Informationen dieser Art werden lediglich statistisch
                ausgewertet, um unseren Internetauftritt und die dahinterstehende Technik zu optimieren.</li>
        </ul>
        <br>
        <h5 class="info-title">Speicherdauer</h5>
        <p class="info-text">Die Daten werden gelöscht, sobald diese für den Zweck der Erhebung nicht mehr erforderlich
            sind. Dies ist für die Daten, die der Bereitstellung der Webseite dienen, grundsätzlich der Fall, wenn die
            jeweilige Sitzung beendet ist.</p>
        <br>
        <h5 class="info-title">Kontaktformular</h5>
        <p class="info-text">Die von Ihnen eingegebenen Daten werden zum Zweck der individuellen Kommunikation mit Ihnen
            gespeichert. Hierfür ist die Angabe einer validen E-Mail-Adresse sowie Ihres Namens erforderlich. Diese
            dient der Zuordnung der Anfrage und der anschließenden Beantwortung derselben. Die Angabe weiterer Daten
            ist optional.</p>
        <br>
        <h5 class="info-title">Verwendung von Scriptbibliotheken (Google Webfonts)</h5>
        <p class="info-text">Um unsere Inhalte browserübergreifend korrekt und grafisch ansprechend darzustellen,
            verwenden wir auf dieser Website „Google Web Fonts“ der Google LLC (1600 Amphitheatre Parkway, Mountain
            View, CA 94043, USA; nachfolgend „Google“) zur Darstellung von Schriften. Die Datenschutzrichtlinie des
            Bibliothekbetreibers Google finden Sie hier: https://www.google.com/policies/privacy/
        </p>
        <br>
        <h5 class="info-title">Verwendung von Google Analytics</h5>
        <p class="info-text">Diese Website benutzt Google Analytics, einen Webanalysedienst der Google LLC, 1600
            Amphitheatre Parkway, Mountain View, CA 94043 USA (nachfolgend: „Google“). Google Analytics verwendet sog.
            „Cookies“, also Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung
            der Webseite durch Sie ermöglichen. Die durch das Cookie erzeugten Informationen über Ihre Benutzung dieser
            Webseite werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.
            Aufgrund der Aktivierung der IP-Anonymisierung auf diesen Webseiten, wird Ihre IP-Adresse von Google jedoch
            innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den
            Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server
            von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google
            diese Informationen benutzen, um Ihre Nutzung der Webseite auszuwerten, um Reports über die
            Webseitenaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung
            verbundene Dienstleistungen gegenüber dem Webseitenbetreiber zu erbringen. Die im Rahmen von Google
            Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.
            Die Zwecke der Datenverarbeitung liegen in der Auswertung der Nutzung der Website und in der
            Zusammenstellung von Reports über Aktivitäten auf der Website. Auf Grundlage der Nutzung der Website
            und des Internets sollen dann weitere verbundene Dienstleistungen erbracht werden.
        </p>
        <br>
        <h5 class="info-title">Datenschutzerklärung für die Nutzung von Google Adsense</h5>
        <p class="info-text">Diese Website benutzt Google AdSense, einen Dienst zum Einbinden von Werbeanzeigen der
            Google Inc. („Google“). Google AdSense verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer
            gespeichert werden und die eine Analyse der Benutzung der Website ermöglicht. Google AdSense verwendet
            auch so genannte Web Beacons (unsichtbare Grafiken). Durch diese Web Beacons können Informationen wie der
            Besucherverkehr auf diesen Seiten ausgewertet werden.
            Die durch Cookies und Web Beacons erzeugten Informationen über die Benutzung dieser Website (einschließlich
            Ihrer
            IP-Adresse) und Auslieferung von Werbeformaten werden an einen Server von Google in den USA übertragen und
            dort gespeichert. Diese Informationen können von Google an Vertragspartner von Google weiter gegeben werden.
            Google wird Ihre IP-Adresse jedoch nicht mit anderen von Ihnen gespeicherten Daten zusammenführen.
            Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software
            verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche
            Funktionen dieser Website voll umfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich
            mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und
            zu dem zuvor benannten Zweck einverstanden.
        </p>
        <br>
        <h5 class="info-title">Wie lange wir Ihre Daten speichern</h5>
        <p class="info-text">Für Benutzer, die sich auf unserer Website registrieren, speichern wir zusätzlich die
            persönlichen Informationen, die sie in ihren Benutzerprofilen angeben. Alle Benutzer können jederzeit
            ihre persönlichen Informationen einsehen, verändern oder löschen (der Benutzername kann nicht verändert
            werden). Administratoren der Website können diese Informationen ebenfalls einsehen und verändern.
        </p>
        <br>
        <h5 class="info-title">Wie lange wir Ihre Daten speichern</h5>
        <p class="info-text">Besucher-Kommentare könnten von einem automatisierten Dienst zur Spam-Erkennung untersucht
            werden.</p>
        <br>
        <h5 class="info-title">Kontakt-Informationen</h5>
        <p class="info-text">
            Fabian Häfliger,
            Talacherstrasse 7,
            6340 Baar
            <br>
            Email: fabian.haefi@gmail.com</p>
    </div>
</div>
<br>
{% endblock %}