{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2>terms and conditions</h2>
</div>

<div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'home' %}">home</a>
                <span class="mx-2 mb-0 span-divider">/</span>
                <strong class="current-page">terms and conditions</strong>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12 text-center">
        <h3>terms and conditions englisch</h3>
        <br>
        <p class="info-text">Please read the following document before using amphibian.ch.
            <br>
        Effective: 31. December 2020
        </p>
        <br>
        <h5 class="info-title">Intellectual property</h5>
        <p class="info-text">
            All content (logos, products and others) on this website is the legal property of amphibian.ch and business
            partners, unless otherwise noted.
        </p>
        <br>
        <h5 class="info-title">Consent</h5>
        <p class="info-text">
            By using this website you accept the terms of use. If you do not agree to them, please do not use our
            website.
        </p>
        <br>
        <h5 class="info-title">Changes</h5>
        <p class="info-text">
            These terms and conditions are subject to change due to market, legal or other changes. It is therefore
            important that you as a user check the terms and conditions regularly.
        </p>
        <br>
        <h5 class="info-title">Legal matters</h5>
        <p class="info-text">
            Whether this website may be used in the country of origin of our users is not the responsibility
            of amphibian.ch.
        </p>
        <br>
        <h5 class="info-title">Refunds</h5>
        <p class="info-text">
            We do not grant refunds on granted purchases.
        </p>
        <hr class="horizontal-divider">
        <h3>Nutzungsbedinungen Deutsch</h3>
        <br>
        <p class="info-text">Bitte lesen Sie das folgende Dokument durch, bevor Sie amphibian.ch benutzen.
            <br>
        Gültig ab 31. December 2020
        </p>
        <br>
        <h5 class="info-title">Geistiges Eigentum</h5>
        <p class="info-text">
            Jeder Inhalt (Logos, Produkte und andere) auf dieser Webseite ist rechtliches Eigentum von amphibian.ch und
            Geschäftspartnern, sofern nicht anderweitig vermerkt.
        </p>
        <br>
        <h5 class="info-title">Einverständnis</h5>
        <p class="info-text">
            All content (logos, products and others) on this website is the legal property of amphibian.ch and business
            partners, unless otherwise noted.
        </p>
        <br>
        <h5 class="info-title">Änderungen</h5>
        <p class="info-text">
            Diese Bedingungen können in Hinblick auf Veränderungen im Markt sowie rechtlichen oder anderen Umständen
            geändert werden. Es ist deshalb wichtig, dass Sie als Nutzer die Bedinungen regelmässig überprüfen.
        </p>
        <br>
        <h5 class="info-title">Rechtliches</h5>
        <p class="info-text">
            Diese Bedingungen können in Hinblick auf Veränderungen im Markt sowie rechtlichen oder anderen Umständen
            geändert werden. Es ist deshalb wichtig, dass Sie als Nutzer die Bedinungen regelmässig überprüfen.
        </p>
        <br>
        <h5 class="info-title">Rückerstattungen</h5>
        <p class="info-text">
            Wir gewähren keine Rückerstattungen auf gewährte Einkäufe.
        </p>
    </div>
</div>
<br>
{% endblock %}